/* Parte 1 FlexBox */
/* Resposta 1 - justify-content: flex-end;*/

/* Resposta 2 - justify-content:center;*/

/* Resposta 3 - justify-content:space-around;*/

/* Resposta 4 - justify-content:space-between;*/

/* Resposta 5 - align-items:flex-end;*/

/* Resposta 6 - justify-content: center;
align-items: center;*/

/* Resposta 7 - justify-content: space-around;
align-items:flex-end;*/

/* Resposta 8 - flex-direction:row-reverse;*/

/* Resposta 9 - flex-direction:column;*/

/* Resposta 10 - flex-direction:row-reverse;
justify-content:flex-end;*/

/* Resposta 11 - flex-direction:column;
justify-content:flex-end;*/

/* Resposta 12 - flex-direction:column-reverse;
justify-content:space-between;*/

/* Resposta 13- flex-direction:row-reverse;
justify-content:center;
align-items:flex-end*/

/* Resposta 14 - order:2;*/

/* Resposta 15 - order:-3;*/

/* Resposta 16 - align-self:flex-end;*/

/* Resposta 17 - order:3;
align-self:flex-end;*/

/* Resposta 18 - flex-wrap:wrap;*/

/* Resposta 19 - flex-direction:column;
flex-wrap:wrap;*/

/* Resposta 20 - flex-flow: column wrap;*/

/* Resposta 21 - align-content:flex-start;*/

/* Resposta 22 - align-content:flex-end;*/

/* Resposta 23 - flex-direction:column-reverse;
align-content:center;*/

/* Resposta 24 - flex-flow:wrap-reverse column-reverse;
justify-content:center;
align-content:space-between;
*/


/* Parte 1 Grid */
/* Resposta 1 - rid-column-start:3;*/

/* Resposta 2 - grid-column-start:5;*/

/* Resposta 3 - grid-column-end:4;*/

/* Resposta 4 - grid-column-end:2;*/

/* Resposta 5 - grid-column-end:-2;*/

/* Resposta 6 - grid-column-start:-3;/

/* Resposta 7 - grid-column-end: span 2;*/

/* Resposta 8 - grid-column-end: span 5;*/

/* Resposta 9 - grid-column-start: span 3;*/

/* Resposta 10 - grid-column: 4/6;*/

/* Resposta 11 - grid-column: span 3/5;*/

/* Resposta 12 - grid-row-start: 3;*/

/* Resposta 13- grid-row: 3/6;*/

/* Resposta 14 - grid-column: 2;
grid-row: 5;/

/* Resposta 15 - grid-column: 2/6;
grid-row: 1/6;*/

/* Resposta 16 - grid-area: 1 / 2 /4 /6;*/

/* Resposta 17 - grid-area: 2/3/5/6;*/

/* Resposta 18 - order: 6;*/

/* Resposta 19 - order: -6;*/

/* Resposta 20 - grid-template-columns: 50%*/

/* Resposta 21 - grid-template-columns: repeat(5,12.5%);*/

/* Resposta 22 - grid-template-columns: 100px 3em 40%;*/

/* Resposta 23 - 

/* Resposta 24 - 









