
h1{
text-align: center; 
font-family: Verdana, Geneva, Tahoma, sans-serif;  
color: tomato;
}


table {
    background-color: rgb(171, 236, 105);
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(106, 13, 194);
}

td {
justify-content: space-between;
align-items:flex-end;
border: 10px;
border-color: rgb(117, 9, 117);

}