#logo {
width: 300px;
height: 200px;
text-align: center;
}
h1 (
font-family:cursive;
font-size: 30px;
text-align:center;
)

p {
font-size: 20px;
text-align: center;  
}

#cadastroalunos {
font-family: cursive;
color: tomato;

}